<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028472675433-2g1phcir8ebkfv90rp726ahj13cj3ceu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028472675433-2g1phcir8ebkfv90rp726ahj13cj3ceu</string>
	<key>API_KEY</key>
	<string>AIzaSyD8MjPK9A9dGoyGa5TwsVuoCoq7XEpUwSg</string>
	<key>GCM_SENDER_ID</key>
	<string>1028472675433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetutorial</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-d86fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-d86fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028472675433:ios:1fd3ada77976adde1d56f8</string>
</dict>
</plist>